@theme {
    --color-transform: var(--color-cyan-600);
    --color-parse: var(--color-amber-600);
    --color-format: var(--color-yellow-600);
    --color-encode: var(--color-lime-600);
    --color-decode: var(--color-teal-600);

    --text-color-on-operation: var(--text-on-operation);
}

:root[data-theme="light"] {
    --text-on-operation: var(--color-neutral-100);
}

:root[data-theme="dark"] {
    --text-on-operation: var(--color-neutral-900);
}
